main{
    min-height: 80vh;
}

.rating span{
    margin: 0.1rem;
}

h3{
    padding:1rem 0;
}

.dropDownValue{
    background-color: #d63a83 !important;
}

.dropDownValue:hover{
    background-color: #a9458c7a !important;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
h1{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ef84b6; 
    border-radius: 10px;
    background: #d63a83;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fcfaf2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fcfaf2; 
  }

  
/* 
   ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #5e5e5e; 
    border-radius: 10px;
    background: rgb(170, 170, 170);
  }
   
  ::-webkit-scrollbar-thumb {
    background: #78c2ad; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fcfaf2; 
  } */

  
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}